@charset "UTF-8";

/** font **/
/* en font-family: 'Raleway'; */
@import url(./raleway.css); 
/* ko font-family: 'Pretendard'; */
@import url(./pretendard.css);

:root {
  /* 
    기본 폰트 사이즈 14px sm
    기본 폰트 두께 500 sm
  */
/****** font ******/
--primary-font-en: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
--primary-font-ko: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*** size ***/
/* 나중에 수정 */
/* --size-xxs: 10px;
--size-xs: 12px;
--size-sm: 14px;
--size-md: 16px;
--size-lg: 18px;
--size-xl: 20px;
--size-xxl: 25px;
--size-xxxl: 38px; */

/*** weight ***/
--weight-xs: 400;
--weight-sm: 500;
--weight-md: 600;
--weight-lg: 700;

/****** color ******/
--color-b: #000038;
--color-mb: #0000a5;
--color-lb: #8d8dff;
--color-g: #555555;
--color-mg: #9e9e9e;
--color-lg: #dddddd;
--color-wg: #fafafa;
--color-w: #fff;

/****** z-index ******/
/* 1: 가장 위에 올라올 것, 9: 가장 아래 내려갈 것 */
--zIndex-7: -9999;
--zIndex-6: 99;
--zIndex-5: 999;
--zIndex-4: 9999;
--zIndex-3: 99999;
--zIndex-2: 999999;
--zIndex-1: 9999999;

/****** line-height ******/
--lineHeight-sm: 1.4;
--lineHeight-nm: 1.6;
--lineHeight-md: 1.8;
--lineHeight-lg: 2;
--lineHeight-xxl: 3;

/****** 기타 ******/
--full-size: 100%;
--text-indent: -9999px;
--primary-center: 0 auto;
}