@charset "utf-8";

/****** mo ******/

@media screen and (min-width: 390px) {

  /****** fix-icon ******/
  /*** chat ***/
  .fix-icon .chat {
    width: 100%;
    position: relative;
  }

  .fix-icon .chat a {
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 99999;
  }

  .fix-icon .chat a img {
    width: 50px;
    padding: 10px;
    background: var(--color-mb);
    border-radius: 50px;
    animation: float 1.3s ease-in-out infinite;
  }

  /* chat animaiton */
  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-8px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  /*** goToTop ***/
  .fix-icon .goToTop {
    width: 100%;
    position: relative;
  }

  .fix-icon .goToTop a {
    position: fixed;
    bottom: 85px;
    right: 20px;
    z-index: 9999;
  }

  .fix-icon .goToTop a img {
    width: 50px;
    padding: 10px;
    background: var(--color-lg);
    border-radius: 50px;
  }

  /****** header-mo ******/
  .pc-menu {
    display: none;
  }

  .m-menu {
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    background-color: #000;
    position: fixed;
    z-index: 99999;
  }

  .m-menu .main-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .m-menu .main-menu h1 img {
    width: 120px;
  }

  .m-menu .main-menu .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
  }

  .m-menu .main-menu .hamburger-menu .line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  /* mobile hamburger menu -> X icon */
  .menu.active {
    display: block;
    transition: 0.5s;
  }

  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }


  /* slide-menu */
  .m-menu .slide-menu {
    width: 100vw;
    height: 100%;

    padding: 0 30px 0 20px;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    /* 사파리용 */
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    left: -105%;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 999;
    overflow: hidden;
  }

  .slide-menu.active {
    left: 0;
    transform: translateX(0);
    opacity: 1;
  }

  /* 모바일 메뉴 항목 */
    .m-menu .main-mo > li {
    margin-bottom: 40px;
  }

  .m-menu .main-mo > li > a {
    font-size: 30px;
    font-weight: var(--weight-md);
    color: var(--color-w);
    display: block;
    margin-bottom: 10px;
  }

  /* 서브 메뉴 (소분류) */
  .sub-mo {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }

  .sub-mo li a {
    font-size: 16px;
    color: var(--color-mg);
  }
  
  .sub-mo li a:nth-last-child {
    border-right: none;
  }

  /* 하단 링크 */
  .side-mo {
    font-size: 16px;
    margin-top: 25px;
    display: flex;
    gap: 8px;
  }

  .side-mo a {
    color: var(--color-mg);
  }


  /****** footer-mobile ******/
  footer {
    background-color: var(--color-b);
    color: var(--color-w);
    padding: 30px 20px 70px;
    position: relative;
  }

  footer a {
    text-decoration: none;
    color: var(--color-w);
  }

  /**** footer-menu ****/
  footer .footer-menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-w);
  }

  footer .footer-menu-wrapper .link-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  footer .footer-menu-wrapper .link-list li a {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: center;
  }

  footer .footer-menu-wrapper .link-list li a img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(358deg) brightness(100%) contrast(100%);
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  footer .footer-menu-wrapper .site-map {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  footer .footer-menu-wrapper .site-map li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  /**** footer-bottom ****/
  footer .footer-bottom {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  /** address **/
  footer .footer-bottom .address h2 {
    margin: 0;
  }

  footer .footer-bottom .address h2 a img {
    width: 120px;
    margin: 0;
  }

  footer .footer-bottom .address p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-mg);
    margin: 0;
    margin-top: 15px;
  }

  .footer-info {
    position: relative;
  }

  /** language **/
  footer .footer-bottom .lang {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  footer .footer-bottom .lang a {
    height: 15px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
  }

  footer .footer-bottom .lang a:last-child {
    padding-left: 10px;
    border-left: 1px solid var(--color-w);
  }

  /** policy **/
  footer .footer-bottom .policy {
    margin-bottom: 15px;
  }

  footer .footer-bottom .policy a {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-mg);
    line-height: 20px;
  }

  /** sns **/
  .sns {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: -5px;
  }

  .sns li a img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(358deg) brightness(100%) contrast(100%);
  }

  /** family-site **/
  .family-site {
    width: 150px;
    position: absolute;
    bottom: -40px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .family-site li {
    text-align: center;
    border-bottom: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: auto;
  }

  .family-site li a {
    display: block;
    width: 150px;
    height: 35px;
    border-left: 1px solid var(--color-w);
    border-right: 1px solid var(--color-w);
    line-height: 32px;
    font-size: 12px;
    background-color: var(--color-b);
    color: var(--color-w);
  }

  .family-site li:nth-of-type(5) {
    border-top: 1px solid var(--color-w);
  }

  .family-site li a:hover {
    background-color: var(--color-w);
    color: var(--color-b);
  }

  .family-site.open li:not(.active) {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .family-site .active span {
    font-size: 10px;
    margin-left: 10px;
  }

  footer .footer-bottom .family-site li a {
    font-size: 12px;
    font-weight: 400;
  }

  .family-site .active {
    width: 150px;
    height: 35px;
    border-left: 1px solid var(--color-w);
    border-right: 1px solid var(--color-w);
    line-height: 32px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    border: 1px solid var(--color-w);
  }


  /****** contact-mobile ******/
  .contact {
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../assets/images/global/contact.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    padding: 0px 40px;
  }

  .contact p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
  }

  .contact h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-w);
    margin-bottom: 15px;
  }

  .contact h4 {
    font-size: 14px;
    font-weight: var(--weight-xs);
    line-height: 1.4;
    color: var(--color-w);
    margin-bottom: 35px;
  }

  .contact a {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-mb);
    background-color: var(--color-w);
    display: block;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .contact a span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  /* svg 컬러 변경~~~~~~~~~~~~~~~~ !!!!!!!! */
  .contact a span img {
    fill: #fff;
  }

}



/* 구분 *****************************/
/****** pc ******/

@media screen and (min-width: 1280px) {

  /**** header ****/
  /* 모바일 메뉴 숨김 */
  .m-menu {
    display: none;
  }

  .pc-menu {
    display: block;
  }

  /* nav */
  header {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: 0.5s ease-in-out;
  }

  header:hover {
    background-color: var(--color-b);
  }

  header .logo img {
    width: 120px;
  }

  /* main-menu */
  header .pc-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--color-w);
  }

  header .pc-menu .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  header .pc-menu .main-menu li {
    width: 190px;
    font-size: 16px;
    position: relative;
  }

  /* sub-menu */
  header .pc-menu .sub-menu {
    width: 100%;
    background-color: var(--color-b);
    z-index: 9999;

    position: absolute;
    top: 35px;
    left: 0;

    opacity: 1;
    transition: max-height 0.8s ease-in-out;
    overflow: hidden;
  }

  header .pc-menu .sub-menu li {
    line-height: 3.5;
  }

  header .pc-menu .sub-menu li a {
    /* 들여쓰기 */
    padding-left: 15px;
    display: block;

    width: 100%;
    color: var(--color-w);
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header .pc-menu .sub-menu li:hover a {
    /* border-bottom: 1px solid var(--color-lg); */
    background-color: var(--color-w);
    color: var(--color-b);
  }

  /* side-menu */
  header .pc-menu .side-menu {
    font-size: 16px;

    display: flex;
    align-items: center;
  }

  header .pc-menu .side-menu li:first-of-type {
    padding-right: 10px;
    border-right: 1px solid var(--color-w);
  }

  header .pc-menu .side-menu li:last-of-type {
    padding-left: 10px;
  }

  /* 헤더 스크롤 시 숨기기 - 공통 적용 */
  header.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  /****** fix-icon ******/
  /*** chat ***/
  .fix-icon .chat {
    width: 100%;
    position: relative;
  }

  .fix-icon .chat a {
    position: fixed;
    bottom: 130px;
    right: 50px;
    z-index: 99999;
  }

  .fix-icon .chat a img {
    width: 70px;
    padding: 15px;
    background: var(--color-mb);
    border-radius: 50px;
  }

  /*** goToTop ***/
  .fix-icon .goToTop {
    width: 100%;
    position: relative;
  }

  .fix-icon .goToTop a {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
  }

  .fix-icon .goToTop a img {
    width: 70px;
    padding: 15px;
    background: var(--color-lg);
    border: 1px solid transparent;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
  }

  .fix-icon .goToTop a img:hover {
    background-color: var(--color-w);
    border: 1px solid var(--color-b);
  }


  /****** contact ******/
  .contact {
    height: 430px;
    padding: 0px 40px;
  }

  .contact p {
    font-size: 16px;
    font-weight: var(--weight-md);
    color: var(--color-w);
    margin-bottom: 20px;
  }

  .contact h3 {
    font-size: 38px;
    margin-bottom: 35px;
  }

  .contact h4 {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .contact a {
    width: 180px;
    font-size: 18px;
    padding: 18px 45px;

    transition: all 0.3s ease-in-out;
  }

  .contact a:hover {
    background-color: var(--color-b);
    color: var(--color-w);
  }

  .contact a .arrow {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  } 

  .contact a:hover .arrow {
    color: var(--color-w);
    transform: translateX(6px);
  }


  /****** footer ******/
  footer {
    padding: 50px 80px;
  }

  /**** footer-menu ****/
  footer .footer-menu-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding-bottom: 140px;
  }

  footer .footer-menu-wrapper .link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  footer .footer-menu-wrapper .link-list li a {
    font-size: 18px;
  }

  footer .footer-menu-wrapper .site-map {
    flex-direction: row;
    gap: 70px;
  }

  footer .footer-menu-wrapper .site-map li a {
    font-size: 18px;
  }

  /**** footer-bottom ****/
  footer .footer-bottom {
    padding: 70px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    position: relative;
  }

  /** address **/
  footer .footer-bottom .address {
    display: flex;
    gap: 30px;
  }

  footer .footer-bottom .address h2 {
    margin: 0;
  }

  footer .footer-bottom .address h2 a img {
    width: 160px;
  }

  footer .footer-bottom .address p {
    margin-top: 0px;
  }

  .footer-info {
    position: static;
    display: flex;
    align-items: baseline;
  }

  /** language **/
  footer .footer-bottom .lang {
    margin-bottom: 0px;
    margin-right: 60px;
  }

  /** policy **/
  footer .footer-bottom .policy {
    margin-bottom: 0px;
  }

  /** sns **/
  .sns {
    gap: 25px;
    right: 0px;
    top: 65px;
  }

  .sns li a img {
    width: 30px;
    height: 30px;
  }

  /** family-site **/
  .family-site {
    width: 160px;
    position: absolute;
    right: 0;
    bottom: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
  }

  .family-site li {
    background-color: var(--color-b);
    color: var(--color-w);
    text-align: center;
    border-bottom: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    /* 
    family-site가 물리적으로 sns 위를 덮고 있어 클릭이 안됨
    none -> auto 로 변경 
    */
    pointer-events: auto;
  }

  .family-site li a {
    display: block;
    width: 160px;
    height: 35px;
    background-color: var(--color-b);
    border-left: 1px solid var(--color-w);
    border-right: 1px solid var(--color-w);
    line-height: 32px;
    font-size: 12px;
  }

  .family-site li:nth-of-type(5) {
    border-top: 1px solid var(--color-w);
  }

  .family-site li a:hover {
    background-color: var(--color-w);
    color: var(--color-b);
  }

  .family-site.open li:not(.active) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: auto;
  }

  .family-site .active span {
    font-size: 10px;
    margin-left: 10px;
  }

  footer .footer-bottom .family-site li a {
    font-size: 12px;
    font-weight: 400;
  }

  .family-site .active {
    width: 160px;
    height: 35px;
    border-left: 1px solid var(--color-w);
    border-right: 1px solid var(--color-w);
    line-height: 32px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    border: 1px solid var(--color-w);
  }
}