@charset "utf-8";

*{
  font-family: var(--primary-font-ko);
}

body {
  margin: 0;
  overflow-x: hidden;
}

/****** intro ******/
.intro {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.intro video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.intro .intro-title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-w);
  text-align: center;

}

.intro .intro-title h3 {
  margin: 0px 30px;
  font-weight: var(--weight-lg);
  font-size: 45px;
  margin-bottom: 20px;
}

.intro .intro-title p {
  font-size: 20px;
  font-weight: var(--weight-xs);
  margin: 0px 30px;
}

/****** about ******/
.about {
  /* margin: 60px 20px; */
}

.about .about-txt {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.about .about-txt h4 {
  margin: 45px 0px;
  padding: 0px 20px;
  font-size: 24px;
  font-weight: var(--weight-lg);
  color: var(--color-b);
}

.about .about-txt .about-info {
  margin-bottom: 130px;
}

.about .about-txt .about-info p {
  font-size: 16px;
  font-weight: var(--weight-xs);
  color: var(--color-b);
  margin-bottom: 30px;
  padding: 0px 20px;
}

.about .about-txt .about-info a {
  font-size: 14px;
  font-weight: var(--weight-xs);
  color: var(--color-b);
  text-decoration: none;
  padding: 0px 20px;
}

.about .about-txt img {
  width: calc(100% - 40px);
  object-fit: contain;
  padding: 0px 20px;
  margin-bottom: 60px;
}

.about .about-video {
  width: 100%;
  height: 170vh;
  position: relative;
}

.about .about-video video {
  width: 100%;
  height: 100%;
  background-color: #000;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.about .about-video ul {
  padding: 0;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 25%;
  z-index: 3;
  list-style: none;
  color: var(--color-w);
}

.about .about-video ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .about-video ul li h4 {
  font-size: 30px;
  font-weight: var(--weight-md);
  margin: 0;
  margin-bottom: 5px;
}

.about .about-video ul li p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

/****** 1-tech ******/
.tech {
  display: flex;
  flex-direction: column;
}

.tech_ai {
  height: 250px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../assets/images/index/01_tech/tehc_ai/tech_ai.jpg) no-repeat center;
  background-size: cover;
}

.tech .tech_ai h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--color-w);
}

.tech .tech_ai p {
  font-size: 14px;
  font-weight: var(--weight-xs);
  color: var(--color-w);
}

.tech .tech-scroll {
  margin: 20px;
}

.tech .tech-scroll .img-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

.tech .tech-scroll .img-list li {
  width: 100%;
  height: 200px;
  background-color: var(--color-lg);
  border-radius: 15px;
  color: var(--color-w);
  font-size: 20px;
  font-weight: var(--weight-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech .tech-scroll .img-list li:nth-child(1) {
  background: url(../assets/images/index/01_tech/faceRecog1.jpg) no-repeat center;
  background-size: cover;
}

.tech .tech-scroll .img-list li:nth-child(2) {
  background: url(../assets/images/index/01_tech/ocr.jpg) no-repeat center;
  background-size: cover;
}

.tech .tech-scroll .img-list li:nth-child(3) {
  background: url(../assets/images/index/01_tech/emergency.png) no-repeat center;
  background-size: cover;
}

.tech .tech-scroll .tech-info {
  margin: 50px 0px;
}

.tech .tech-scroll .tech-info h5 {
  margin: 0;
  font-size: 24px;
  font-weight: var(--weight-lg);
  color: var(--color-b);
  margin-bottom: 30px;
}

.tech .tech-scroll .tech-info p {
  margin: 0;
  font-size: 16px;
  font-weight: var(--weight-xs);
  color: var(--color-b);
  margin-bottom: 30px;
}

.tech .tech-scroll .tech-info ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  list-style: none;
}

.tech .tech-scroll .tech-info ul li {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tech .tech-scroll .tech-info ul li img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.tech .tech-scroll .tech-info ul li p {
  margin: 0;
  font-size: 14px;
  font-weight: var(--weight-xs);
  color: var(--color-b);
  text-align: center;
}

/****** 2-solution ******/
.solution {
  width: 100%;
  height: 300vh;
  position: relative;
}

.solution .photoDump-title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.solution .photoDump-title h3 {
  margin: 0;
  font-size: 30px;
  font-weight: var(--weight-lg);
  color: var(--color-b);
  margin-bottom: 15px;
  padding: 0px 20px;
}

.solution .photoDump-title p {
  margin: 0;
  font-size: 16px;
  font-weight: var(--weight-xs);
  color: var(--color-b);
  padding: 0px 20px;
}

.solution .photoDump-title p br {
  display: none;
}

.photoDump-title.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.photoDump-wrapper {
  width: 100%;
  height: 300vh;
  position: absolute;
  top: 130vh;
  z-index: -99;
}

.photoDump {
  width: 100%;
  height: 100%;
  position: relative;
}

.photoDump li {
  position: absolute;
  width: 220px;
}

.photoDump li img {
  width: 100%;
  border-radius: 15px;
}


.photoDump li:nth-of-type(1) {
  top: 0%;
  left: -10%;
}

.photoDump li:nth-of-type(2) {
  top: 10%;
  right: 5%;
}

.photoDump li:nth-of-type(3) {
  top: 30%;
  left: 10%;
}

.photoDump li:nth-of-type(4) {
  top: 40%;
  right: 5%;
}

.photoDump li:nth-of-type(5) {
  top: 48%;
  left: 15%;
}

.photoDump li:nth-of-type(6) {
  top: 65%;
  left: 50%;
}

/* 아코디언 메뉴 */
.img-slide {
  width: 100%;
  overflow: hidden;
  cursor: grab;
}

.img-menu-wrapper {
  width: 2090px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.img-menu-wrapper.dragging {
  cursor: grabbing;
  user-select: none;
}

.img-menu-wrapper li {
  width: 340px;
  height: 310px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.img-menu-wrapper li h5 {
  font-size: 20px;
  font-weight: var(--weight-md);
  color: var(--color-w);
  margin: 0;
  position: absolute;
  top: 30px;
  left: 30px;
}

.img-menu-wrapper li p {
  font-size: 14px;
  font-weight: var(--weight-xs);
  color: var(--color-w);
  margin: 0;
}

.img-menu-wrapper li:nth-child(1) {
  background: url(../assets/images/index/02_solution/finance/finance.jpg) no-repeat center;
  background-size: cover;
}

.img-menu-wrapper li:nth-child(2) {
  background: url(../assets/images/index/02_solution/environment/environment.jpg) no-repeat center;
  background-size: cover;
}

.img-menu-wrapper li:nth-child(3) {
  background: url(../assets/images/index/02_solution/governance/gouvernance.jpg) no-repeat center;
  background-size: cover;
}

.img-menu-wrapper li:nth-child(4) {
  background: url(../assets/images/index/02_solution/airport/airport.jpg) no-repeat center;
  background-size: cover;
}

.img-menu-wrapper li:nth-child(5) {
  background: url(../assets/images/index/02_solution/retail/retail.jpg) no-repeat center;
  background-size: cover;
}

.img-menu-wrapper li:nth-child(6) {
  background: url(../assets/images/index/02_solution/network/network.jpg) no-repeat center;
  background-size: cover;
}


/****** 3-history ******/
.history {
  margin: 80px 20px 0px;
  padding-bottom: 80px;
}

.history h2 {
  margin: 0;
  color: var(--color-b);
  margin-bottom: 45px;
  font-size: 24px;
}

.history .history-wrapper {
  position: relative;
}

.history .history-wrapper dl {
  display: flex;
  gap: 40px;
  margin: 0;
  margin-bottom: 25px;
}

.history .history-wrapper dl dt {
  width: 39px;
  margin: 0;
  font-size: 15px;
  font-weight: var(--weight-lg);
  color: var(--color-b);
  line-height: 25px;
}

.history .history-txt {}

.history .history-wrapper dl dd {
  margin: 0;
  font-size: 13px;
  font-weight: var(--weight-xs);
  color: var(--color-g);
  line-height: 25px;
}

.history .history-wrapper dl:after {
  content: "";
  position: absolute;
  left: 55px;
  top: 2px;
  width: 2px;
  height: 75%;
  background: var(--color-b);
}

.history .history-wrapper dl:first-child:after {
  top: 10px;
  height: calc(100% - 10px);
}

.history .history-wrapper dt {
  position: relative;
  font-weight: bold;
  color: var(--color-b);
  line-height: 1;
  width: 15%;
}

.history .history-wrapper dt:after {
  content: "";
  position: absolute;
  left: 52px;
  top: 27px;
  transform: translateY(-230%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--color-b);
  box-sizing: border-box;
}


/****** 4-press ******/
.press {
  margin: 80px 20px;
}

.press h2 {
  margin: 0;
  font-size: 24px;
  font-weight: var(--weight-lg);
  color: var(--color-b);
  margin: 80px 0px 50px;
}

.press-slide-wrapper {
  width: 100%;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  scrollbar-width: none;
}

.press-slide-wrapper.dragging {
  cursor: grabbing;
  user-select: none;
}

.press .press-slide {
  padding: 20px 0px;
  padding-right: 30px;
  margin: 0;
  display: flex;
  gap: 10px;
  list-style: none;
  border-top: 1px solid var(--color-g);
  border-bottom: 1px solid var(--color-g);
  margin-bottom: 80px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  user-select: none;
}

.press .press-slide li {
  width: 290px;
}

.press .press-slide li img {
  width: 290px;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
  pointer-events: none;
}

.press .press-slide li p {
  width: 290px;
  margin: 0;
  font-size: 14px;
  font-weight: var(--weight-xs);
  color: var(--color-b);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.press .press-slide li p span {
  font-size: 14px;
  font-weight: var(--weight-md);
  color: var(--color-b);
}

/****** location ******/
.location {
  padding: 80px 0px;
}

.location h2 {
  font-size: 24px;
  margin: 0px 20px;
  color: var(--color-b);
}

.location img {
  margin-top: 20px;
  width: 100%;
  border-radius: 15px;
}