@charset "utf-8";

/***** pc *****/
@media (min-width: 1280px) {

  html {
    width: 100%;
  }

  /****** 공통 적용 ******/
  #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-w);
    z-index: 9999;
  }

  /****** intro ******/
  .intro {
    position: relative;
    height: 100vh;
    /* 고정 영역 */
    overflow: hidden;
  }

  .intro video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* height: 100vh; */
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
    filter: brightness(1);
    transform-origin: center center;
  }

  .intro .intro-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: opacity 0.5s ease;
  }

  .intro .intro-title h3 {
    margin: 0px;
    font-size: 60px;
    margin-bottom: 15px;
  }

  .intro .intro-title p {
    font-size: 20px;
    margin: 0px;
  }

  /****** about ******/
  .about {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    background-color: var(--color-w);
    z-index: 999;
  }

  .about .about-txt {
    width: calc(100% - 400px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin: 160px 200px;
  }

  .about .about-txt h4 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    line-height: 1.3;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .about .about-txt .about-info {
    height: 150px;
    margin: 0px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* margin-left: 50px; */
  }

  .about .about-txt .about-info p {
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
  }

  .about .about-txt .about-info a {
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;
  }

  .about .about-txt .about-info:hover a {
    border-bottom: 2px solid var(--color-b);
  }

  .about .about-txt img {
    width: 100%;
    object-fit: contain;
    padding: 0px;
    margin: 0px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin: 150px 0 80px;
  }

  /* about video */
  /* 비디오 포함 영역 */
  .about .about-video {
    position: relative;
    width: 100%;
    height: 500%;
    background-color: #000;

    overflow: hidden;
  }

  /* 영상 */
  .about .about-video video {
    /* padding: 150px 0px; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
  }

  /* 텍스트 그룹 */
  .about .about-video ul {
    position: relative;
    z-index: 1;
    text-align: center;
  }

  /* 텍스트 항목 */
  .about .about-video ul li {
    margin: 35px 0px;
  }

  /* 텍스트 등장 전 초기 상태 */
  .about .about-video ul li h4,
  .about .about-video ul li p {
    opacity: 1;
    /* transform: translateY(-100px); */
  }

  /* 숫자 */
  .about .about-video ul li h4 {
    font-size: 70px;
    margin: 0;
    color: var(--color-w);
  }

  /* 설명 */
  .about .about-video ul li p {
    font-size: 24px;
    margin: 0;
    color: var(--color-w);
  }



  /****** 1-tech ******/
  .tech {
    position: relative;
    min-height: 325vh;
  }

  .tech-wrapper {
    flex: 1;
    position: relative;
  }

  .tech_ai {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background: url(../assets/images/index/01_tech/tehc_ai/tech_ai.jpg) no-repeat cover 50% 50%;
    z-index: 2;
    box-sizing: border-box;
    transition: width 0.1s ease;
  }

  .tech .tech-scroll {
    position: absolute;
    top: 150vh;
    left: 50%;
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.5s ease;
    margin: 0px;
  }

  .tech .tech_ai h3 {
    margin: 0;
    font-size: 35px;
    margin-bottom: 15px;
  }

  .tech .tech_ai p {
    font-size: 20px;
    margin: 0;
  }

  .tech .tech-scroll .img-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 0px;
    margin: 0;
  }

  .tech .tech-scroll .img-list li {
    width: 100%;
    height: 330px;
    background-color: var(--color-lg);
    border-radius: 15px;
    color: var(--color-w);
    font-size: 30px;
    font-weight: var(--weight-lg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tech .tech-scroll .tech-info {
    margin: 30px 0px;
  }

  .tech .tech-scroll .tech-info h5 {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .tech .tech-scroll .tech-info p {
    font-size: 20px;
    margin-bottom: 50px;
    width: 80%;
  }

  .tech .tech-scroll .tech-info ul {
    gap: 60px;
  }

  .tech .tech-scroll .tech-info ul li {
    gap: 15px;
  }

  .tech .tech-scroll .tech-info ul li img {
    width: 70px;
    height: 70px;
  }

  .tech .tech-scroll .tech-info ul li p {
    width: 90px;
    font-size: 20px;
  }

  /****** 2-solution ******/
  .solution .photoDump-title h3 {
    margin: 0;
    font-size: 40px;
    margin-bottom: 15px;
    padding: 0px;
  }

  .solution .photoDump-title p {
    font-size: 20px;
    padding: 0px;
  }

  .solution .photoDump-title p br {
    display: block;
  }

  .photoDump li {
    position: absolute;
    width: 350px;
  }

  .photoDump li:nth-of-type(1) {
    top: 0%;
    left: 5%;
  }

  .photoDump li:nth-of-type(2) {
    top: 10%;
    left: 20%;
  }

  .photoDump li:nth-of-type(3) {
    top: 15%;
    left: 55%;
  }

  .photoDump li:nth-of-type(4) {
    top: 35%;
    right: 5%;
  }

  .photoDump li:nth-of-type(5) {
    top: 45%;
    left: 25%;
  }

  .photoDump li:nth-of-type(6) {
    top: 60%;
    left: 50%;
  }

  /****** img-slide ******/
  .img-slide {
    width: 100vw;
  }

  .img-slide .img-menu-wrapper {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .img-slide .img-menu-wrapper li {
    position: relative;
    flex: 1;
    height: 800px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    transition: flex 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-w);
  }

  .img-slide .img-menu-wrapper li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  /* ✅ overlay: 이미지 위에 위치 */
  .img-slide .img-menu-wrapper li .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    /* 초기 상태 투명 */
    transition: background 0.4s ease-in-out;
    z-index: 1;
  }

  /* 텍스트는 이미지 + 오버레이 위로 */
  .img-slide .img-menu-wrapper li h5,
  .img-slide .img-menu-wrapper li p {
    position: relative;
    z-index: 99;
  }

  .img-slide .img-menu-wrapper li h5 {
    position: absolute;
    top: 5%;
    font-size: 30px;
  }

  .img-slide .img-menu-wrapper li p {
    width: 300px;
    font-size: 18px;
    margin-bottom: 10px;
    max-height: 0;
    opacity: 0;
    transform: translateY(10px);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  /*  hover 시 확장 */
  .img-slide .img-menu-wrapper li.active {
    flex: 2.8;
  }

  /* overlay 등장 */
  .img-slide .img-menu-wrapper li.active .overlay {
    background: rgba(0, 0, 0, 0.6);
  }

  /* 텍스트 등장 */
  .img-slide .img-menu-wrapper li.active p {
    line-height: 1.5;
    max-height: 300px;
    opacity: 1;
  }


  /****** 3-history ******/
  .history {
    margin: 70px 50px 0px;
    padding-bottom: 80px;
  }

  .history h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }

  .history .history-wrapper {
    width: 100%;
    display: flex;
  }

  .history .history-wrapper dl {
    display: flex;
    /* gap: 70px; */
    gap: 0;
    margin: 0;
    margin-bottom: 40px;
  }

  .history .history-wrapper dl dt {
    width: 47px;
    margin: 0;
    font-size: 20px;
    line-height: 45px;
    margin-right: 70px;
  }

  .history .history-wrapper dl dd {
    margin: 0;
    font-size: 15px;
    line-height: 40px;
  }

  .history .history-wrapper .history-left {
    margin-right: 100px;
  }

  .history .history-wrapper dl:after {
    content: "";
    position: absolute;
    left: 80px;
    top: 10px;
    width: 2px;
    height: 80%;
    background: var(--color-b);
  }

  .history .history-wrapper dl:first-child:after {
    top: 10px;
    height: calc(100% - 60px);
  }

  .history .history-wrapper dt {
    position: relative;
    font-weight: bold;
    color: var(--color-b);
    line-height: 1;
    width: 15%;
  }

  .history .history-wrapper dt:after {
    content: "";
    position: absolute;
    left: 76px;
    top: 40px;
    transform: translateY(-230%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--color-b);
    box-sizing: border-box;
  }

  .history .history-wrapper .history-right dl:after {
    content: "";
    position: absolute;
    left: 785px;
    top: 10px;
    width: 2px;
    height: 65%;
    background: #000038;
  }

  .history .history-wrapper .history-right dl:first-child:after {
    top: 10px;
    height: calc(100% - 170px);
  }


  .history .history-wrapper .history-right dt {
    position: relative;
    font-weight: var(--weight-lg);
    color: var(--color-b);
  }

  .history .history-wrapper .history-right dt:after {
    content: "";
    position: absolute;
    left: 76px;
    top: 40px;
    transform: translateY(-230%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--color-b);
    box-sizing: border-box;
  }

  /****** 4-press ******/
  .press {
    margin: 80px 50px;
  }

  .press h2 {
    margin: 0;
    font-size: 40px;
    font-weight: var(--weight-lg);
    color: var(--color-b);
    margin: 80px 0px 70px;
  }

  .press .press-slide {
    width: auto;
    gap: 20px;
  }

  .press .press-slide li {
    width: 360px;
  }

  .press .press-slide li img {
    width: 360px;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .press .press-slide li p {
    width: 360px;
    margin: 0;
    font-size: 16px;
  }

  .press .press-slide li p span {
    font-size: 15px;
    font-weight: var(--weight-md);
    color: var(--color-b);
  }

  /****** location ******/
  .location {
    padding: 80px 0px;
  }

  .location h2 {
    font-size: 40px;
    margin: 0px 50px;
  }

  .location img {
    margin-top: 20px;
    width: 100%;
    border-radius: 15px;
  }


}