@charset "utf-8";

/* common css */
body {
  margin: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.contents-title {
  font-size: 22px;
  font-weight: semi-bold;
  margin: 80px 20px 40px;
  text-align: center;
  color: #000038;
}

/* sub1-main */
.sub1-main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sub1-main .main-title {
  background: url(../assets/images/sub1_technology/sub1-main.png) no-repeat center;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub1-main .main-title h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.sub1-main .main-title p {
  font-size: 16px;
  font-weight: semi-bold;
  color: #fff;
  text-align: center;
  margin: 0px 20px;
}

.gradient {
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, #000038 0%, rgba(57, 114, 57, 0) 100%);
  position: absolute;
  top: 340px;
  z-index: 99;
}

.sub1-main .main-video {
  width: calc(100% - 40px);
  padding: 50px 20px;
  background-color: #000038;
}

.sub1-main .main-video video {
  width: 100%;
  margin-bottom: 20px;
}

.sub1-main .main-video .video-txt {
  color: #fff;
}

.sub1-main .main-video .video-txt h3 {
  font-size: 25px;
  line-height: 30px;
}

.sub1-main .main-video .video-txt p {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin-top: 15px;
}

/* contents 1 */
.con1 {}

.con1 .txt-box {
  margin: 25px 20px;
  padding: 0px 30px;
  height: 330px;
  border: 1px solid #000038;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.con1 .txt-box h4 {
  font-size: 35px;
  font-weight: 600;
  color: #0000A5;
  margin: 0;
  margin-bottom: 10px;
  /* margin: 0; */
}

.con1 .txt-box p {
  font-size: 14px;
  font-weight: 600;
  color: #9E9E9E;
  margin: 0;
  margin-bottom: 25px;
}

.con1 .txt-box h5 {
  font-size: 18px;
  font-weight: 600;
  color: #000038;
  margin: 0;
  margin-bottom: 15px;
}

.con1 .txt-box h6 {
  font-size: 16px;
  font-weight: 600;
  color: #555;
  margin: 0;
}

/* contents 2 */
.con2 {}

.con2-wrapper {
  margin: 0px 20px;
  display: grid;
  grid-template-rows: repeat(4, 220px 1fr);
}

.con2 img {
  width: 100%;
  height: 220px;
  border-radius: 15px;
  object-fit: cover;
}

.con2 img:nth-child(1) {
  grid-row: 1 / 2;
}

.con2 img:nth-child(2) {
  grid-row: 3 / 4;
}

.con2 img:nth-child(3) {
  grid-row: 5 / 6;
}

.con2 img:nth-child(4) {
  grid-row: 7 / 8;
}

.con2 .txt-wrapper {
  /* margin: 30px 0px 50px; */
  text-align: left;
}

.con2 .txt-wrapper h5 {
  font-size: 18px;
  font-weight: 600;
  color: #000038;
  margin: 30px 0px 10px;
}

.con2 .txt-wrapper p {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 50px;
}

/* contents 3 */
.con3 {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.con3 .contents-title {
  margin-bottom: 20px;
  margin-top: 0px;
}

.con3 .readmore-btn {
  font-size: 16px;
  font-weight: 600;
  color: #9E9E9E;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.con3 .link-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.con3 .link-wrapper li {
  width: 100%;
  height: 160px;
  padding: 0;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.con3 .link-wrapper li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: brightness(0.8);
  transition: filter 0.1s ease-in-out;
}

.con3 .link-wrapper li:hover img {
  filter: none;
}

.con3 .link-wrapper li a {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  z-index: 1;
}

.con3 .link-wrapper li a h5 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  margin-bottom: 2px;
}

.con3 .link-wrapper li a p {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

/* contents 4 */
.con4 {
  padding: 0px 20px 80px;
}

.con4 .solution-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.con4 .solution-info li {
  width: calc(50% - 37px);
  height: 250px;
  border: 1px solid #00006B;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  text-align: center;
}

.con4 .solution-info li img {
  width: 40px;
  margin-bottom: 12px;
}

.con4 .solution-info li h6 {
  font-size: 16px;
  font-weight: 600;
  color: #000038;
  margin: 0;
  margin-bottom: 10px;
}

.con4 .solution-info li p {
  font-size: 13px;
  font-weight: 600;
  color: #555;
  margin: 0;
  margin-bottom: 13px;
}

.con4 .solution-info li a {
  font-size: 13px;
  color: #fff;
  background-color: #000038;
  display: block;
  padding: 5px 15px;
  border-radius: 15px;
}